name: PR Agent
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  pr_agent_job:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
    - name: PR Agent action step
      uses: qodo-ai/pr-agent@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        config.model: "gemini-3-pro-preview"
        config.fallback_models: '["gemini-2.5-flash-lite"]'
        GOOGLE_AI_STUDIO.GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        github_action_config.auto_review: "true"
        github_action_config.auto_describe: "true"
        github_action_config.auto_improve: "true"